<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-signin-client_id" content="<?= $google_client_id ?>">
    <title>FB login 哈哈哈</title>
    <meta name="description" content="SegmentFault 思否 为开发者提供问答、学习与交流编程知识的平台，创造属于开发者的时代！"/>
    <meta name="keywords" content="SegmentFault,思否,javascript,php,python,java,mysql,ios,android,vue.js,node.js,html,css,ruby,git,docker,前端"/>
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">-->
    <script src="https://apis.google.com/js/platform.js?v=1.000" async defer></script>
    <script src="https://apis.google.com/js/api:client.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!--分享-->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c775060bce54ed5"></script>
    <!--<div class="addthis_inline_share_toolbox"></div>-->


    <!--分享-->
    <!--<div class="share">
        <span class="title">分享</span>
        <div class="st">
            <span class='st_googleplus_large' displayText='Google +'></span>
            <span class='st_facebook_large' displayText='Facebook'></span>
            <span class='st_pinterest_large' displayText='Pinterest'></span>
            <span class='st_twitter_large' displayText='Twitter'></span>
        </div>
    </div>-->
    <script type="text/javascript" src="//w.sharethis.com/button/buttons.js"></script>

</head>

<body>

<div class="addthis_inline_share_toolbox"></div>


<div class="share">
    <div class="st">
        <span class='st_googleplus_large' displayText='Google +'></span>
        <span class='st_facebook_large' displayText='Facebook'></span>
        <span class='st_pinterest_large' displayText='Pinterest'></span>
        <span class='st_twitter_large' displayText='Twitter'></span>
    </div>
</div>


<a href="<?= $inst ?>"> 用Instagram登录 </a>
<br>
<a href="<?= $twitter ?>"> 用Twitter登录 </a>

<div id="customBtn" class="customGPlusSignIn">
    <span class="icon"></span>
    <span class="buttonText">Google</span>
</div>

</body>
</html>

<!--
<script>

    var googleUser = {};
    var startApp = function() {
        gapi.load('auth2', function(){
            auth2 = gapi.auth2.init({
                client_id: "<?= $google_client_id ?>",
            });
            attachSignin(document.getElementById('customBtn'));
        });
    };

    function attachSignin(element) {
        console.log(element.id);
        auth2.attachClickHandler(element, {},
            function(googleUser) {
                var profile = googleUser.getBasicProfile();

                var id_token = googleUser.getAuthResponse().id_token;
                console.log(id_token);
                console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
                console.log('Name: ' + profile.getName());
                console.log('Image URL: ' + profile.getImageUrl());
                console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.


                $.ajax({
                    type: 'post',
                    dataType: 'json',
                    url: '/user/googleLogin',
                    data: 'id_token='+googleUser.getAuthResponse().id_token,
                    beforeSend:function(){
                        //modal_bg();
                    },
                    success: function(res){
                        console.log(res);
                    }
                })
                

            }, function(error) {
                alert(JSON.stringify(error, undefined, 2));
            });
    }

    startApp();

</script>-->
